.contacts {
  background-color: @basic_white;
}

.contacts__wrapper {
  display: flex;
}

.contacts__partner {
  margin: 0;
  width: 140px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  color: @optional_black;
  text-transform: uppercase;
}

.contacts__adress {
  margin: 0;
  font-family: @main-font;
  width: 140px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: @special_dark-grey;
}

.contacts__map {
  position: relative;
  margin: 0 auto;

  img {
    display: block;
    margin: auto;
  }
}

.contacts__map-icon {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-25px);
}
