.example {
  margin-top: 47px;
  background-color: @special_grey-5;

  @media (min-width: @tablet-width) {
    background-color: @basic_white;
    border-top: 1px solid @optional_grey-3;
    margin-top: 32px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    margin: 0;
  }
}

.example__wrapper-desktop {
  @media (min-width: @desktop-width) {
    width: 100%;
    margin-top: 76px;
    position: relative;
    background-image: linear-gradient(to right, @basic_grey 67.8%, @special_grey-5 32.2%);
  }
}

.example__title {
  padding-top: 27px;
  line-height: 40px;
  font-size: 36px;
  font-weight: 400;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0 auto;
    margin-top: 43px;
    line-height: 60px;
    font-size: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 56px;
  }
}

.example__wrapper {
  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &::before {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 708px;
      height: 100%;
      background-image: linear-gradient(to right, @basic_grey 60%, @special_grey-5 50%);
    }
  }
}

.example__box {
  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.example__paragraph {
  margin: 0;
  font-family: @main-font;
  margin-top: 33px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    width: 676px;
    line-height: 24px;
    font-size: 16px;
    margin-top: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 70px;
    width: 436px;
  }
}

.example__container {
  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 68px;
    width: 436px;
    flex-direction: column;
  }
}

.example__container-feature {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 366px;
    margin: 0;
  }
}

.example__payment {
  margin: 0 auto;
  margin-top: 34px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: @basic_black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 174px;
    text-align: right;
    line-height: 20px;
    font-size: 20px;
    margin-top: 11px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px;
    width: 436px;
    text-align: left;
  }

  span {
    @media (min-width: @tablet-width) {
      display: inline-block;
      margin-top: 9px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
      margin-left: 59px;
    }
  }
}

.example__description {
  width: 320px;
  margin: 0 auto;
  margin-top: 42px;

  @media (min-width: @tablet-width) {
    background-color: @special_grey-5;
    width: 100%;
    margin-top: 255px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    background-color: transparent;
  }
}

.example__description-wrapper {
  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 462px;
    margin: 0 auto;
    margin-top: 250px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }

  img {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      background-image: url("../img/before-tablet.png");
      width: 354px;
      height: 620px;
      top: -192px;
    }

    @media (min-width: @tablet-width) and (min-resolution: 1.5dppx) {
      background-image: url("../img/before-tablet@2x.png");
      background-size: contain;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/before-desktop.png");
      background-repeat: no-repeat;
      width: 405px;
      left: 58px;
      top: -195px;
    }

    @media (min-width: @desktop-width) and (min-resolution: 1.5dppx) {
      background-image: url("../img/before-desktop@2x.png");
      background-size: contain;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      background-image: url("../img/after-tablet.png");
      width: 354px;
      height: 607px;
      top: -184px;
      right: 0;
      z-index: 1;
    }

    @media (min-width: @tablet-width) and (min-resolution: 1.5dppx) {
      background-image: url("../img/after-tablet@2x.png");
      background-size: contain;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/after-desktop.png");
      background-repeat: no-repeat;
      top: -193px;
      right: -69px;
    }

    @media (min-width: @desktop-width) and (min-resolution: 1.5dppx) {
      background-image: url("../img/after-desktop@2x.png");
      background-size: contain;
      height: 653px;
    }
  }
}

.example__toggle {
  width: 228px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    position: absolute;
    padding: 0;
    padding-bottom: 68px;
    width: 590px;
    bottom: 0;
    left: 58px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    bottom: 5px;
    left: 138px;
  }
}
