.feature {
  margin-top: 25px;
  display: flex;
  flex-direction: column;

  span {
    font-family: @main-font;
    line-height: 12px;
    font-size: 12px;
    font-weight: 400;
    color: @special_dark-grey;

    @media (min-width: @tablet-width) {
      line-height: 14px;
      font-size: 14px;
    }
  }

  @media (min-width: @tablet-width) {
    .resetting_indenting();
  }
}

.feature__weight,
.feature__time {
  line-height: 24px;
  font-size: 24px;
  font-weight: 400;
  color: @basic_black;
  text-align: center;

  @media (min-width: @tablet-width) {
    line-height: 37px;
    font-size: 30px;
  }
}
