.feature {
  margin-top: 25px;
}

.feature__weight,
.feature__time {
  line-height: 24px;
  font-size: 24px;
  font-weight: 400;
  color: @basic_black;
  text-align: center;
}

.feature span {
  font-family: "Arial", sans-serif;
  line-height: 12px;
  font-size: 12px;
  font-weight: 400;
  color: @special_dark-grey;
}
