.feature {
  margin-top: 25px;

  span {
    font-family: @main-font;
    line-height: 12px;
    font-size: 12px;
    font-weight: 400;
    color: @special_dark-grey;
  }
}

.feature__weight,
.feature__time {
  line-height: 24px;
  font-size: 24px;
  font-weight: 400;
  color: @basic_black;
  text-align: center;
}
