.menu-list {
  .resetting_lists();
}

.menu-list__item {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 19px;
  border-top: 1px solid @optional_grey-3;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: 0;
    padding-top: 42px;
  }

  a {
    text-decoration: none;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
    color: @basic_black;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      line-height: 24px;
      font-size: 18px;
      font-weight: 400;
    }

    @media (min-width: @desktop-width) {
      line-height: 30px;
      font-size: 20px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--active {
    @media (min-width: @tablet-width) {
      position: relative;
    }

    a::after {
      @media (min-width: @tablet-width) {
        content: "";
        position: absolute;
        bottom: -10px;
        display: block;
        height: 2px;
        background-color: @basic_green;
        border: 5px;
        transform: none;
        width: 100%;
      }
    }
  }

  &--desktop a {
    @media (min-width: @desktop-width) {
      color: @basic_white;
    }

    &::after {
      @media (min-width: @desktop-width) {
        background-color: @basic_white;
      }
    }
  }
}
