.option {
  span {
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: @optional_dark-grey;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      line-height: 30px;
      font-size: 20px;
      margin-left: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid @special_grey;
      border-radius: 50%;

      @media (min-width: @tablet-width) {
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 15px;
      top: 15px;
      transform: translate(-40%, -40%);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: @basic_green;
      opacity: 0;

      @media (min-width: @tablet-width) {
        left: 20px;
        top: 19px;
        width: 20px;
        height: 20px;
      }
    }
  }

  input:checked + span::after {
    opacity: 1;
  }

  &--additional span::before {
    border-radius: 0;
  }

  &--additional span::after {
    width: 19px;
    height: 15px;
    background: url("../img/icon-tick.svg") no-repeat;
  }
}
