.page-footer {
  background-color: @basic_grey;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  padding-top: 39px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    margin-top: 60px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 63px;
    margin-bottom: 62px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin-top: 32px;
  border-top: 1px solid @special_grey-2;
  border-bottom: 1px solid @special_grey-2;

  @media (min-width: @tablet-width) {
    border: 0;
    margin-top: 55px;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 57px;
  }
}

.page-footer__social-list {
  .resetting_lists();
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 16px;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 174px;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: 155px;
  }
}

.page-footer__link {
  @media (min-width: @desktop-width) {
    display: block;
  }

  &:hover {
    stroke: @basic_green;
  }

  &:active {
    opacity: 0.3;
  }

  &--fb {
    fill: none;
    stroke: @optional_grey-2;
  }

  &--vk svg {
    margin-left: -2px;

    @media (min-width: @tablet-width) {
      width: 30px;
      height: 22px;
      margin-left: 25px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 26px;
    }
  }

  &--instagram svg {
    @media (min-width: @tablet-width) {
      width: 23px;
      height: 23px;
      margin-left: 6px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 5px;
    }
  }

  &--fb svg {
    @media (min-width: @tablet-width) {
      width: 28px;
      height: 28px;
    }
  }
}

.page-footer__copyright {
  margin-top: 18px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    margin-top: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
    margin-top: 53px;
  }
}

.page-footer__copyright-logo {
  font-family: @main-font;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  color: @special_dark-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-icon {
  margin-right: -7px;

  @media (min-width: @tablet-width) {
    height: 42px;
    margin-left: 18px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-right: -7px;
    height: 42px;
  }
  fill: @optional_grey-2;

  &:hover {
    fill: @basic_green;
  }

  &:active {
    opacity: 0.3;
  }
}
