.page-header {
  background-color: @basic_white;
  border-bottom: 1px solid #ededed;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 708px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    background-color: transparent;
  }
}

.page-header__wrapper {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    .resetting_indenting();
    margin-top: 24px;
    width: 174px;
    display: inline-block;
  }
}

.page-header__toggle {
  width: 20px;
  height: 20px;
  margin-bottom: 9px;
  background-image: url("../img/icon-close.svg");
  border: none;
  background-color: @basic_white;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
