.product {
  margin-top: 32px;
}

.product__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @optional_dark-grey;
  text-transform: uppercase;

  a {
    color: inherit;
  }
}

.product__table {
  margin: 0;
  font-family: @main-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @special_dark-grey;
}
