.program-selection__box {
  background-color: @background_green;
  background-image: url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 302px;
}

.program-selection__title {
  margin: inherit;
  padding-top: 27px;
  line-height: 36px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: @basic_white;
  width: 250px;
}

.program-selection__paragraph {
  margin: inherit;
  padding-top: 25px;
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: @basic_white;
  text-transform: uppercase;
}

.program-selection__wrapper img {
  position: absolute;
  top: 167px;
}

.program-selection__button {
  padding: 8px 0;
  width: 280px;
  position: absolute;
  top: 440px;
}
