.programs {
  margin-top: 200px;
}

.programs__list {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.programs__item {
  width: 280px;
  min-height: 266px;
  background-color: @basic_grey;
  margin-top: 20px;
}
