.toggle {
  display: flex;
  justify-content: space-between;
}

.toggle__button {
  border: none;
  padding: 0;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  color: @basic_black;
  text-transform: uppercase;
  background-color: inherit;

  @media (min-width: @tablet-width) {
    line-height: 30px;
    font-size: 20px;
  }
}
