.toggle {
  width: 228px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.toggle__button {
  border: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  color: @basic_black;
  text-transform: uppercase;
  background-color: inherit;
}
